/* 使用 rem 布局，值为实际测量值 /100 所得 */
body{height: 100%;overflow: hidden;max-width: 640px;min-width: 320px;margin: 0 auto;background: #f6f6f6;}
.main{padding-bottom: .98rem;}
.text-center{text-align: center}
.header{height: 0.7rem;font-size: 0;padding: 0 .25rem;background: #ffffff}
.logo-wrapper{display: inline-block;width: 50%;text-align: left;vertical-align: top;}
.logo{width: 1.45rem;height: .53rem;padding-top: .13rem;}
.outin{display: inline-block;width: 50%;text-align: right;font-size: .22rem;line-height: .7rem;color: #44525d;vertical-align: top;}
.outin a{color: #44525d;padding: .2rem .05rem .15rem;}
.slider{height: 3.6rem;width: 100%;overflow: hidden;font-size: 0;}
.swiper-container{height: 3.6rem;}
.slider-img{height: 3.6rem;width: 6.4rem;}
.announcement{height: .48rem;margin: .02rem 0;padding: 0 .25rem;border-bottom: 1px solid #ebebeb;background: #ffffff;overflow: hidden;line-height: .5rem;color: #6f798a;font-size: .2rem;}
.ann-list{position: relative;}
.ann-item{list-style: none;line-height: .48rem;}
.spilit-bar{height: .18rem;}
.fun-wrapper{display: flex;height: 1.85rem;text-align: center;background: #ffffff;}
.fun-item{flex: 0 0 33.33%;width:33.33%;padding: .2rem 0 .05rem;font-size: .18rem;color: #6f798a;}
.fun-item-img{width: 1.27rem;}
.fun-item-text{position: relative;top: -0.1rem;}
.plat-item{padding: .25rem;background: #ffffff;font-size: 0;}
.plat-item-title{display: inline-block;height: .32rem;width: 50%;padding-left: .5rem;line-height: .32rem;font-size: .24rem;font-weight: 700;vertical-align: top; }
.title-icon1{background: url(../img/spirit.png) no-repeat 0 0;background-size: .32rem;}
.title-icon2{background: url(../img/spirit.png) no-repeat 0 -.52rem;background-size: .32rem;}
.title-icon3{background: url(../img/spirit.png) no-repeat 0 -1.04rem;background-size: .32rem;}
.title-icon4{background: url(../img/spirit.png) no-repeat 0 -1.56rem;background-size: .32rem;}
.plat-item-cara{display: inline-block;height: .32rem;width: 50%;font-size: .22rem;font-weight: 700;color: #ffb23a;vertical-align: top;text-align: right;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.plat-item-desc{min-height: 1.4rem;padding: .25rem 0 0 2.5rem;background: url(../img/plat-item-pic1.png) no-repeat 0 .25rem;background-size: 1.66rem;overflow: hidden;transition: all 0.3s}
.plat-item.active .plat-item-cara{width: 100%;margin-top: .1rem;font-size: .2rem;font-weight: normal;color: #909090;text-align: left;}
.plat-item.active .plat-item-desc{min-height:0;height: 0;padding: 0;}
.income{line-height: .4rem;font-size: .2rem;font-weight: 700;color: #666666;}
.instruct{line-height: .3rem;font-size: .18rem;color: #4d4e53;}
.footer{display: flex;width: 100%;position: fixed;bottom: 0px;left: 0px;height: .98rem;background: #ffffff;border-top: 1px solid #f2f2f2;}
.tab{flex: 0 0 33.33%;width:33.33%;text-align: center;font-size: 0;}
.tab-icon{height: .65rem;padding-top: .15rem;line-height: .45rem;}
.tab-icon1{background: url(../img/utab1.png) no-repeat center center;background-size: .5rem;}
.tab-icon2{background: url(../img/utab2.png) no-repeat center center;background-size: .5rem;}
.tab-icon3{background: url(../img/utab3.png) no-repeat center center;background-size: .5rem;}
.tab-icon-img{width: .5rem;vertical-align: middle;}
.tab-text{font-size: .2rem;color: #cccccc;}
.tab.active .tab-text{color: #2696f3;}
.tab.active .tab-icon1{background: url(../img/utab1-hover.png) no-repeat center center;background-size: .5rem;}
.tab.active .tab-icon2{background: url(../img/utab2-hover.png) no-repeat center center;background-size: .5rem;}
.tab.active .tab-icon3{background: url(../img/utab3-hover.png) no-repeat center center;background-size: .5rem;}
